.header {
  text-align: center;
  background-color: #8D08DB;
  color: white;
}

.container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.02) !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;
  text-align: center;
}

.content {
  margin-left: 20px;
}

.image {
  width: 30%;
  height: auto;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.block {
  margin-bottom: 16px;
  text-align: left;
}

.paginationContainer {
  display: flex;
}

.pagination {
  margin: 0 auto;
}